@using RookEcomShop.Application.Dto;
@using RookEcomShop.ViewModels.Product;
@model PaginatedList<ProductVM>;
@{
  ViewData["Title"] = "Products Page";
}

<ul class="bg-bl">
  @foreach (var product in @Model.Items)



  {
    <li>
      <a href="@Url.Action("Details", "Products", new { id = product.Id })">
        @product.Name
      </a>
    </li>
  }
</ul>

@section PageScripts {

}
