@using RookEcomShop.CustomerFrontend.Models.Home;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
    var products = @Model.ProductDatas;
    Layout = "~/Views/Shared/Layouts/_LayoutNoSidebar.cshtml";
}

@section PageScripts {
}

@section PageStyles {
    <link rel="stylesheet" href="~/css/views/home.css" />
}

<div class="min-h-screen  bg-white">
    <div class="mb-6 w-full relative">
        <div class="collection-banner bg-blend-overlay">
            <div class="banner-overlay">

            </div>

            <div class="w-full mx-auto max-w-screen-lg px-4 relative z-10">
                <div class="flex items-center justify-center">
                    <h3 class="text-6xl text-slate-100">Zero Watse Household</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto p-4 md:p-6 max-w-2xl px-4 lg:max-w-7xl">
        <partial name="~/Views/Shared/Partials/_FilterSelection.cshtml" />

        <h1 class="text-4xl font-semibold mb-6">Product list</h1>

        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            @if (products.Items.Count() > 0)
            {

                @foreach (var product in products.Items)
                {
                    <vc:product-card product="product"></vc:product-card>
                }
            }
            else
            {
                <p>No products found</p>

            }

            <!-- More products... -->
        </div>
    </div>

</div>
