@using RookEcomShop.ViewModels.Dto
@model CartDetailDto
@{
    var TotalPrice = Model.Product.Price * Model.Quantity;
    var serverImage = new ServerImageVM { Url = Model.Product.ImgUrls.FirstOrDefault(), Alt = Model.Product.Name, ClassName = "w-full h-full object-contain" };
}

<div class="flex items-start">
    <div class="w-16 h-16 relative">
        <div class="w-full h-full p-1 rounded-lg border border-gray-500 overflow-hidden">
            <partial name="~/Views/Shared/Partials/_ServerImage.cshtml" model="serverImage" />
        </div>

        <div
            class="w-6 aspect-square flex items-center justify-center rounded-full p-1 bg-neutral-600  absolute top-0 right-0 translate-x-1/2 -translate-y-1/2">
            <span class="text-xs text-white font-semibold">
                @Model.Quantity
            </span>
        </div>
    </div>
    <div class="flex-1 pl-4">
        <p class="text-sm">
            @Model.Product.Name #1 Best Seller
        </p>
    </div>
    <div class="pr-4 flex-shrink-0">
        <div class="flex items-center justify-center">
            <span class="text-sm font-light">$@TotalPrice</span>
        </div>
    </div>
</div>