@using RookEcomShop.CustomerFrontend.Models.Home
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
    var products = @Model.ProductDatas;
    Layout = "~/Views/Shared/Layouts/_ContentSidebarLayout.cshtml";
}

@section PageScripts {
}

<div class="min-h-screen bg-white">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-7xl">
        <h1 class="text-4xl font-semibold mb-6">Product list</h1>
        @* <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2> *@

        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            @if (products.Items.Count() > 0)
            {

                @foreach (var product in products.Items)
                {
                    <vc:product-card product="product"></vc:product-card>
                }
            }
            else
            {
                <p>No products found</p>

            }

            <!-- More products... -->
        </div>
    </div>

</div>
