<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/" />
</head>
<body>
    <div>
        <h1>Dumb layout</h1>
        @RenderBody()
    </div>
</body>
</html>
