@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-1: Oswald, sans-serif;
  --font-family-2: Montserrat, sans-serif;
  --font-family-3: Lato, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-2);
  color: #000;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-right-center {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.absolute-left-center {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  span,
  p,
  strong,
  b {
    color: inherit;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.success-toast {
  background: #4caf50;
  color: #fff;
  display: flex;
  gap: 8px;
}
