@using RookEcomShop.ViewModels.Category
@{
    var categories = ViewData["Categories"] as List<CategoryVM> ?? new List<CategoryVM>();
}


<aside class="sidebar-wrapper">
    <div class="sidebar-container">
        <div class="py-6 text-center border-b border-gray-300">
            <h1 class="text-xl font-semibold">
                RookEcomShop
            </h1>
        </div>
        <div class="px-6">
            <section class="sidebar-section">
                <h3 class="text-lg font-semibold mb-3">Category</h3>
                <ul class="category-list space-y-4">
                   @foreach (var category in categories)
                    {
                        <li class="category-item text-gray-500">@category.Name</li>
                    }
                </ul>
            </section>

            <div class="h-[1px] w-full bg-gray-300 my-6"></div>

            <section class="sidebar-section">
                <h3 class="text-lg font-semibold mb-3">Filter by:</h3>
                <ul class="category-list">
                    
                    <li class="category-item">T-Shirt</li>
                    <li class="category-item">T-Shirt</li>
                    <li class="category-item">T-Shirt</li>
                    <li class="category-item">T-Shirt</li>

                </ul>
            </section>
        </div>
    </div>
</aside>