.sidebar-wrapper {
  display: none;
  min-width: 300px;
  background-color: #f8f9fa;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  @apply border-r border-gray-300 shadow-lg;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.category-list {
  padding-left: 32px;
}

.category-item {
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}

.category-item:hover {
  color: rgba(79 70 229);
}

.category-item.active {
  @apply text-indigo-700;
}

.sidebar-section {
  padding: 20px 0;
}

@media (min-width: 1024px) {
  .sidebar-wrapper {
    display: block;
  }
}
