$blue-primary-800: #0048b3;
$blue-primary-700: #006ae5;
$blue-primary-600: #097aff;
$blue_primary_500: #0b2fe5;
$blue_primary_400: #296dff;
$blue_primary_300: #478eff;
$blue_primary_200: #85bcff;
$blue_primary_100: #daedff;
$blue_primary_050: #f6f9fe;
