@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-neutral-900">
    <h3 class="uppercase font-semibold text-sm mb-4">Sustainability</h3>
    <ul class="flex gap-8 uppercase text-[10px] font-semibold overflow-scroll mb-3">
        <li class="text-center h-full flex flex-col items-center">
            <img class="max-w-[100px] h-full" alt="Plastic free" src="~/images/plastic-free-icon.png" width="75"
                height="75" />
            <span>Plastic free</span>
        </li>
        <li class="text-center h-full flex flex-col items-center">
            <img class="max-w-[100px] h-full" alt="Organic Cotton" src="~/images/organic-cotton-icon.png" width="75"
                height="75" />
            <span>Organic Cotton</span>

        </li>
        <li class="text-center h-full flex flex-col items-center">
            <img class="max-w-[100px] h-full" alt="Gots certificated" src="~/images/gots-certified-icon.png" width="75"
                height="75" />
            <span>Gots Certificated</span>

        </li>
        <li class="text-center h-full flex flex-col items-center">
            <img class="max-w-[100px] h-full" alt="Empowers Women" src="~/images/empowers_women_icon.png" width="75"
                height="75" />
            <span>Empowers Women</span>

        </li>
    </ul>
</div>