@using RookEcomShop.ViewModels.Dto
@model IEnumerable<CartDetailDto>

@{
  Layout = "~/Views/Shared/Layouts/_LayoutNoSidebar.cshtml";

  var cartDetails = @Model;
  ViewData["CartDetails"] = @Model;
}

<section class="bg-white antialiased dark:bg-gray-900 md:py-8">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Shopping Cart</h2>

    <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
      <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
        <div class="space-y-6">
          @foreach (var cartDetail in cartDetails)
          {
            <vc:cart-detail cart-detail="cartDetail"></vc:cart-detail>
          }
        </div>
        <div class="hidden xl:mt-8 xl:block">
          <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">People also bought</h3>
          <div class="mt-6 grid grid-cols-3 gap-4 sm:mt-8">
            <partial name="Partials/_AlsoBoughtItem"></partial>
            <partial name="Partials/_AlsoBoughtItem"></partial>
            <partial name="Partials/_AlsoBoughtItem"></partial>
          </div>
        </div>
      </div>

      <div class="lg:sticky lg:top-4 mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
        <partial name="Partials/_OrderSummary" view-data="ViewData" />

        <div
          class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
          <form class="space-y-4">
            <div>
              <label for="voucher" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"> Do you have a
                voucher or gift card? </label>
              <input type="text" id="voucher"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-indigo-500 focus:ring-indigo-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-indigo-500 dark:focus:ring-indigo-500"
                placeholder="" required />
            </div>
            <button type="submit"
              class="flex w-full items-center justify-center rounded-lg bg-indigo-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-indigo-800 focus:outline-none focus:ring-4 focus:ring-indigo-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800">Apply
              Code</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>