@page
@using RookEcomShop.IdentityServer.Pages.Account.Register
@model IndexModel
@{
    Layout = "~/Pages/Shared/Layouts/_BlankLayout.cshtml";
}


<div vaul-drawer-wrapper="">

    <div class="relative flex min-h-screen flex-col bg-background">

        <div class="flex-1 w-full lg:grid lg:min-h-[600px] lg:grid-cols-2 xl:min-h-[800px]">
            <div class="hidden bg-muted lg:block bg-slate-100">
                <img alt="Image" loading="lazy" width="1920" height="1080" decoding="async" data-nimg="1"
                    class="h-full w-full object-cover dark:brightness-[0.2] dark:grayscale" style="color:transparent"
                    src="/placeholder.svg" />
            </div>

            <div class="flex items-center justify-center py-12">

                <div class="mx-auto grid w-[500px] gap-6">

                    <div class="grid gap-2 text-center">
                        <h1 class="text-3xl font-bold">Register</h1>
                        <p class="text-muted text-balance">Enter your email below to login to your account</p>
                    </div>

                    <form method="post" class="grid gap-4">
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="grid lg:grid-cols-2 lg:items-start gap-4">
                            <div class="grid gap-2">
                                <label asp-for="RegisterInputModel.Firstname"
                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Firstname
                                    <span class="text-red-500">*</span>
                                </label>
                                <input type="text" asp-for="RegisterInputModel.Firstname"
                                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                    placeholder="John" required />
                                <span asp-validation-for="RegisterInputModel.Firstname"
                                    class="text-red-500 font-semibold text-sm"></span>
                            </div>
                            <div class="grid gap-2">
                                <label asp-for="RegisterInputModel.Lastname"
                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Lastname
                                    <span class="text-red-500">*</span>
                                </label>
                                <input type="text" asp-for="RegisterInputModel.Lastname"
                                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                    placeholder="Doe" required />
                                <span asp-validation-for="RegisterInputModel.Lastname"
                                    class="text-red-500 font-semibold text-sm"></span>
                            </div>
                        </div>

                        <div class="grid lg:grid-cols-3 lg:items-start gap-4">
                            <div class="grid gap-2 lg:col-span-2">
                                <label asp-for="RegisterInputModel.Email"
                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Email</label>
                                <input type="email" asp-for="RegisterInputModel.Email"
                                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                    placeholder="johndoe@gmail.com" />
                                <span asp-validation-for="RegisterInputModel.Email"
                                    class="text-red-500 font-semibold text-sm"></span>
                            </div>
                            <div class="grid gap-2">
                                <label asp-for="RegisterInputModel.PhoneNumber"
                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Phone
                                    number</label>
                                <input type="tel" asp-for="RegisterInputModel.PhoneNumber"
                                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                    placeholder="+84 123456789" />
                                <span asp-validation-for="RegisterInputModel.PhoneNumber"
                                    class="text-red-500 font-semibold text-sm"></span>
                            </div>
                        </div>

                        <div class="grid gap-2">
                            <label asp-for="RegisterInputModel.Username"
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Username
                                <span class="text-red-500">*</span></label>
                            <input type="text" asp-for="RegisterInputModel.Username"
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                placeholder="johndoe" />
                            <span asp-validation-for="RegisterInputModel.Username"
                                class="text-red-500 font-semibold text-sm"></span>
                        </div>

                        <div class="grid gap-2">

                            <label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                asp-for="RegisterInputModel.Password">Password <span
                                    class="text-red-500">*</span></label>

                            <input asp-validation type="password" asp-for="RegisterInputModel.Password"
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" />
                            <span asp-validation-for="RegisterInputModel.Password"
                                class="text-red-500 font-semibold text-sm"></span>

                        </div>

                        <div class="grid gap-2">

                            <label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                asp-for="RegisterInputModel.ConfirmPassword">Confirm Password <span
                                    class="text-red-500">*</span></label>

                            <input asp-validation type="password" asp-for="RegisterInputModel.ConfirmPassword"
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" />
                            <span asp-validation-for="RegisterInputModel.ConfirmPassword"
                                class="text-red-500 font-semibold text-sm"></span>

                        </div>

                        <button value="register" name="button"
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-slate-50 hover:bg-black/90 h-10 px-4 py-2 w-full"
                            type="submit">Register</button>

                    </form>

                    <div class="mt-4 text-center text-sm">Already have an account?
                        <a class="underline" asp-page="/Account/Login/Index">Sign in</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

@section PageScripts {
    <partial name="~/Pages/Shared/_ValidationScriptsPartial.cshtml" />
}